<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name = "conn"
			connectionString ="Server=db50446.public.databaseasp.net; Database=db50446; User Id=db50446; Password=B=h7r9-GA#k6; Encrypt=True; TrustServerCertificate=True; MultipleActiveResultSets=True;"/>
	</connectionStrings>
</configuration>